*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color:darkcyan;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.display {
    margin-top: 5%;
    margin-right: 10%;
    width: 100%;
    background: lightyellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
    font-size: 100px;
    font-weight: 1000;
}

.container h1 {
    font-weight: 700;
    font-size: 40px;
}

.container h1 span {
    color: orange;
    border-bottom: 4px solid orange;
    padding-bottom: 2px;
}

.display img {
    height: 60px;
    width: auto;
    cursor: pointer;
}

/* .display img:active {
    cursor: context-menu;
} */

.display input {
    border: 0;
    outline: 0;
    width: 50%;
    font-size: 20px;
    background: lightyellow;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container button {
    margin-top: 15px;
    padding: 16px 26px;
    border-radius: 5px;
    border-color: grey solid;
    background-color: darkolivegreen;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container button img {
    width: 28px;
    margin-right: 10px;
}

.container button:active {
    cursor: progress;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
